SQL Challenge
Your table: maintable_1YZ0I

MySQL version: 8.0.23

In this MySQL challenge, your query should return the number of rows from your table where FirstName contains "e" and LastName has more than 5 characters. Your output should look like the following table.

```
ID	FirstName	LastName	Age
1	Daniel	Smith	25
2	Mike	Smith	22
3	Jenny	Richards	28
4	Robert	Black	22
5	Noah	Fritz	30
6	Ashley	Johnson	25
```
```
/* write your SQL query below */
SELECT * FROM maintable_1YZ0I
```

In [1]:
import pandas as pd
data = {'id':[1,2,3,4,5,6], 
'FirstName':['Daniel', 'Mike', 'Jenny', 'Robert', 'Noah', 'Ashley'], 
'LastName':['Smith', 'Smith', 'Richards', 'Black', 'Fritz', 'Johnson'],
'Age':[25,22,28,22,30,25]}

df = pd.DataFrame(data)
df

   id FirstName  LastName  Age
0   1    Daniel     Smith   25
1   2      Mike     Smith   22
2   3     Jenny  Richards   28
3   4    Robert     Black   22
4   5      Noah     Fritz   30
5   6    Ashley   Johnson   25